@import url('https://fonts.bunny.net/css?family=Nunito');

@import 'variables';

@import 'node_modules/bootstrap/scss/bootstrap';

@import 'node_modules/tom-select/dist/css/tom-select.bootstrap5';

@import 'node_modules/quill/dist/quill.core';

@import 'node_modules/quill/dist/quill.snow';

@import 'node_modules/flatpickr/dist/flatpickr';

@import 'node_modules/flatpickr/dist/themes/airbnb';

.quill-editor {
    border-bottom-left-radius: 0.375rem;
    border-bottom-right-radius: 0.375rem;
    min-height: 12rem;
    display: flex;
    flex-direction: column;
}

.quill-editor .ql-editor.ql-blank {
    flex-grow: 1;
}

.ql-toolbar.ql-snow {
    border-top-left-radius: 0.375rem;
    border-top-right-radius: 0.375rem;
}

.has-error {
    border: 1px solid red;
}

.line-clamp-3 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
}

.favorite-btn{
    display: inline-block;
    cursor: pointer;
    width: 80px;
    height: 80px;
    border: none;
    outline: none;
}

.favorite-btn {
    background: url('https://i.ibb.co/vw78mf3/heart.png') no-repeat 0% 50%;
    background-size: 2900%;
}

.favorite-active {
    animation-name: animate;
    animation-duration: .8s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.favorite-active {
    animation-timing-function: steps(28);
}

@keyframes animate {
    0% {
        background-position: left;
    }

    50% {
        background-position: right;
    }

    100% {
        background-position: right;
    }
}
